// colors
$bluesh-green-clr: rgb(20, 130, 110);
$light-green: rgb(85, 214, 111);
// links
$link-clr: rgb(52, 135, 106);
$link-h-clr: rgb(98, 98, 152);
$link-lighter-clr: rgb(116, 187, 162);
$link-lighter-h-clr: rgb(161, 161, 218);
// font family
$ff-primary: 'Catamaran', sans-serif;
$ff-secondary: 'Grand Hotel', cursive;
$transition-all: all 350ms ease;

// mixini
@mixin flex-s-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-s-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
