@media (max-width: 992px) {
  .header {
    &-content {
      margin-top: 10rem;
      flex-direction: column;
      text-align: center;
      padding-bottom: 2rem;
    }
  }
  .section {
    &-content {
      flex-direction: column;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  .sectionA {
    &-content {
      flex-direction: column;
    }
    &-content2 {
      flex-direction: column;
    }
    &-img-container {
      &:after {
        content: '';
        display: none;
      }
      &:before {
        content: '';
        display: none;
      }
      margin-bottom: 1.5rem;
    }
    &-col2 {
      width: 100%;
    }
    &-sidebar {
      transform: translateX(900px);
      a {
        font-size: 0.9rem;
      }
    }
  }
  // sidebar toggle
  .toggle-menu {
    padding: 2rem;
    display: none;
  }
  .toggle-menu:checked ~ .sectionA-sidebar {
    transform: translateX(0);
  }
  .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    cursor: pointer;
  }
  .toggle-label div {
    width: 50px;
    height: 5px;
    background: green;
    border-radius: 100px;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 50px;
      height: 5px;
      background: green;
      top: 10px;
      border-radius: 100px;
    }
    &:after {
      content: '';
      top: 10px;
    }
    &:before {
      content: '';
      top: -10px;
    }
  }
}
