@import 'config';
@import 'mobile';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $ff-primary;
  line-height: 1.4;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
img {
  display: block;
  width: 100%;
}
.bottom-line {
  width: 100px;
  height: 5px;
  margin: 0 0 1rem;
  background: rgb(85, 214, 111);
  border-radius: 20px;
}

// header
.header {
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../img/pic-1.jpg') center/cover no-repeat;
  color: #fff;
  .container {
    padding: 2rem;
    height: 100%;
  }
  &-content {
    @include flex-start;
    height: 100%;
    padding-bottom: 3rem;
  }
  &-img-c {
    animation: scale 3s linear 1;
  }
  &-img {
    display: block;
    width: 120px;
  }
  &-title {
    font-size: 3rem;
    letter-spacing: 0.3rem;
    animation: slideToRight 3s ease-in-out 1;
  }
  &-sub {
    font-family: $ff-secondary;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    animation: slideToleft 3s ease-in-out 1;
  }
  @keyframes slideToRight {
    0% {
      transform: translateX(-500px);
      opacity: 0.2;
    }
    50% {
      transform: translateX(200px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideToleft {
    0% {
      transform: translateX(500px);
      opacity: 0.2;
    }
    50% {
      transform: translateX(-200px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes scale {
    0% {
      transform: scale(0.1);
      opacity: 0.3;
    }
    50% {
      transform: scale(1.3);
      opacity: 0.6;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
// end of header

// 1th section
.section {
  margin-bottom: 3rem;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    width: 300px;
    height: 800px;
    background: $bluesh-green-clr;
    position: absolute;
    top: 0;
    border-radius: 500px;
    transform: rotate(-60deg);
    opacity: 0.1;
  }

  &-container {
    margin: 2rem;
  }
  &-lead {
    font-size: 1.4rem;
    font-family: $ff-secondary;
    text-align: center;
    letter-spacing: 0.2rem;
    color: $bluesh-green-clr;
    margin: 2rem auto;
    max-width: 600px;
  }
  &-content {
    @include flex-s-evenly;
  }

  &-col1 {
    max-width: 700px;
    margin-bottom: 1rem;
  }
  &-des1 {
    margin-bottom: 2rem;
  }
  &-sup {
    margin-top: 0.5rem;
  }
  &-text {
    margin-bottom: 1rem;
  }
  &-col2 {
    margin-left: 1rem;
    padding: 1rem;
    position: relative;
    overflow-x: hidden;
  }
  &-sidebar {
    color: rgb(36, 49, 42);
    li {
      width: 100%;
      font-family: $ff-secondary;
      text-align: center;
      background: rgb(206, 206, 206);
      padding: 0.5rem 1rem;
      margin-bottom: 0.4rem;
      margin-left: 0.5rem;
      border-radius: 20px;
      &:last-child {
        border: none;
      }
    }
  }
  .design-name,
  .designer-name {
    font-family: $ff-primary;
    color: $link-clr;
    transition: $transition-all;
    &:hover {
      color: $link-h-clr;
    }
  }
  .design-name {
    display: block;
  }
}
// end of 1th section
// sectionA

.sectionA {
  &-content {
    padding: 2rem;
    @include flex-s-evenly;
  }
  &-desc1 {
    margin: 1rem;
  }
  &-title {
    font-size: 1.3rem;
  }

  &-text {
    padding-bottom: 1rem;
    max-width: 600px;
  }
  &-link {
    color: $link-clr;
  }
  &-img-container {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 600px;
      height: 500px;
      border: 5px solid $light-green;
      top: -25px;
      left: -25px;
      z-index: -1;
    }
    &:before {
      content: '';
      position: absolute;
      top: -100px;
      right: -50px;
      width: 200px;
      height: 200px;
      background: $light-green;
      opacity: 0.2;
      border-radius: 50%;
      z-index: -1;
      box-shadow: 2px 2px 15px $light-green;
    }
  }
  &-img {
    width: 600px;
    height: 500px;
  }

  &-content2 {
    padding: 2rem;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('../img/pic-2.jpg') center/cover no-repeat;
    color: #fff;
    position: relative;
    margin-top: 1rem;
    @include flex-s-evenly;
  }
  &-col1 {
    margin-bottom: 1rem;
    max-width: 1000px;
  }
  &-col2 {
    width: 400px;
  }

  &-sidebar {
    margin-top: 2rem;
    transition: all 0.3s linear;
    border-radius: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url('../img/bg.jpg') center/ cover no-repeat;
    overflow-x: hidden;
    &-link {
      color: $link-lighter-clr;
      transition: $transition-all;
      font-size: 1.2rem;
      &:hover {
        margin-left: 0.5rem;
        color: $link-lighter-h-clr;
      }
    }
  }

  &-list-item {
    padding: 2rem 1rem;
    width: 200px;
    border-bottom: 2px dashed #fff;
    transition: $transition-all;
    margin: 1rem 0;
    &:last-child {
      border: none;
    }
  }
}
// toggle-menu
.toggle-menu {
  display: none;
}

// footer

.footer {
  background: #333;
  padding-top: 2rem;
  color: #fff;
  &-info {
    margin-bottom: 2rem;
  }
  &-text {
    font-size: 1.5rem;
    font-family: $ff-secondary;
    letter-spacing: 0.2rem;
    text-align: center;
  }
  &-link {
    color: $link-clr;
    transition: $transition-all;
    &:hover {
      color: $link-h-clr;
    }
  }
  &-icons {
    text-align: center;
  }
  i {
    font-size: 3rem;
    color: $link-clr;
    padding: 2rem;
    transition: $transition-all;
    &:hover {
      color: $link-h-clr;
    }
  }
}
